{% extends 'base.html' %}

{% block title %}
    Create Service
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <form method="POST">
            <div class="card-header">
                <h3 class="card-title mb-0">Create Service</h3>
            </div>
            <div class="card-body">
                {% csrf_token %}
                <!-- Hidden field for business_profile -->
                <input type="hidden" name="business_profile" value="{{ business_profile }}">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="duration">Duration (in Mins):</label>
                            <input type="text" class="form-control" id="duration" name="duration">
                        </div>
                        <div class="form-group">
                            <label for="amount">Amount:</label>
                            <input type="text" class="form-control" id="amount" name="amount">
                        </div>
                        <div class="form-group">
                            <label for="max_discount_allowed">Max Discount Allowed:</label>
                            <input type="text" class="form-control" id="max_discount_allowed" value="0" name="max_discount_allowed">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group d-flex  justify-content-between align-items-center">
                            <label for="vat" style="padding-right:15px;">VAT:</label>
                            <input type="checkbox"  id="vat" name="vat" checked>
                        </div>
                        <div class="form-group d-flex justify-content-between align-items-center">
                            <label for="status">Status:</label>
                            <input type="checkbox"  id="status" name="status" checked>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
