{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2>Create Bank Deposit</h2>
  <form method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_date">Date:</label>
      <input type="date" id="id_date" name="date" class="form-control">
    </div>
    <div class="form-group">
      <label for="id_amount">Amount:</label>
      <input type="number" id="id_amount" name="amount" class="form-control">
    </div>
    <div class="form-group">
      <label for="id_transaction_type">Transaction Type:</label>
      <select name="transaction_type" id="id_transaction_type" class="form-control">
        <option value="Cash">Cash</option>
        <option value="Cheque">Cheque</option>
        <option value="Bank Transfer">Bank Transfer</option>
      </select>
    </div>
    <div class="form-group">
      <label for="id_narration">Narration:</label>
      <textarea id="id_narration" name="narration" class="form-control" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create Bank Deposit</button>
  </form>
</div>
{% endblock %}
