<!-- employee_transaction_form.html -->
{% extends 'base.html' %}

{% block title %}
    Employee Transaction Form
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Create Employee Transaction</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="transaction_type">Transaction Type:</label>
                <select name="transaction_type" id="transaction_type" class="form-control">
                    {% for value, label in form.fields.transaction_type.choices %}
                        <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group" id="st">
                <label for="service_transactions">Service Transactions:</label>
                <select name="service_transactions" id="service_transactions" class="form-control" multiple>
                    {% for service in form.fields.service_transactions.queryset %}
                        <option value="{{ service.pk }}">{{ service }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group" id="pt">
                <label for="product_transactions">Product Transactions:</label>
                <select name="product_transactions" id="product_transactions" class="form-control" multiple>
                    {% for product in form.fields.product_transactions.queryset %}
                        <option value="{{ product.pk }}">{{ product }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="total_amount">Total Amount:</label>
                <input type="number" name="total_amount" id="total_amount" class="form-control">
            </div>
            <div class="form-group">
                <label for="payment_option">Payment Option:</label>
                <select name="payment_option" id="payment_option" class="form-control">
                    {% for value, label in form.fields.payment_option.choices %}
                        <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="employee">Employee:</label>
                <select name="employee" id="employee" class="form-control">
                    {% for employee in form.fields.employee.queryset %}
                        <option value="{{ employee.pk }}">{{ employee }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="day_closing">Day Closing:</label>
                <select name="day_closing" id="day_closing" class="form-control">
                    {% for day_closing in form.fields.day_closing.queryset %}
                        <option value="{{ day_closing.pk }}">{{ day_closing }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-success btn-sm">Submit</button>
        </form>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var transactionTypeSelect = document.getElementById("transaction_type");
            var serviceTransactionsSelect = document.getElementById("st");
            var productTransactionsSelect = document.getElementById("pt");
    
            function toggleVisibility(select, isVisible) {
                select.style.display = isVisible ? "block" : "none";
            }
    
            function handleTransactionTypeChange() {
                var selectedTransactionType = transactionTypeSelect.value;
                if (selectedTransactionType === "service") {
                    toggleVisibility(serviceTransactionsSelect, true);
                    toggleVisibility(productTransactionsSelect, false);
                } else if (selectedTransactionType === "product") {
                    toggleVisibility(serviceTransactionsSelect, false);
                    toggleVisibility(productTransactionsSelect, true);
                } else if (selectedTransactionType === "service_and_product") {
                    toggleVisibility(serviceTransactionsSelect, true);
                    toggleVisibility(productTransactionsSelect, true);
                }
            }
    
            transactionTypeSelect.addEventListener("change", handleTransactionTypeChange);
            handleTransactionTypeChange(); // Initial state setup
        });
    </script>
    
{% endblock %}
