{% extends 'base.html' %}

{% block title %}
    Create Business Profile
{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Create Business Profile</h1>
            <form method="post" enctype="multipart/form-data" id="business-profile-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <!-- Fields for the main business profile -->
                        <!-- Shop Name -->
                        {{ business_profile_form.shop.errors }}
                        <div class="form-group">
                            <label for="shop">Select Shop:</label>
                            <select name="shop" id="shop" class="form-control" onchange="updateLicenseNumber(this)">
                                <option value="">Select Shop</option>
                                {% for shop in shop_details %}
                                    <option value="{{ shop.id }}" label="{{ shop.name }}-{{ shop.license_number }}">{{ shop.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                       <!-- Shop Phone Number -->
                       {{ business_profile_form.shop_phone_number.errors }}
                       <div class="form-group ">
                           <label for="{{ business_profile_form.shop_phone_number.id_for_label }}">Shop Phone Number:</label>
                           {{ business_profile_form.shop_phone_number }}
                       </div>
                        <!-- Upload License (PDF only) -->
                        {{ business_profile_form.license_upload.errors }}
                        <div class="form-group mt-0">
                            <label for="{{ business_profile_form.license_upload.id_for_label }}">Upload License (JPG only):</label>
                            <input type="file" id="{{ business_profile_form.license_upload.id_for_label }}" name="license_upload" accept="image/jpg" class="form-control-file">
                        </div>
                        
                        
                        <!-- VAT Number -->
                        {{ business_profile_form.vat_number.errors }}
                        <div class="form-group">
                            <label for="{{ business_profile_form.vat_number.id_for_label }}">VAT Number:</label>
                            {{ business_profile_form.vat_number }}
                        </div>
                        <!-- VAT Submission Date 1 -->
                        {{ business_profile_form.vat_submission_date_1.errors }}
                        <div class="form-group">
                            <label for="{{ business_profile_form.vat_submission_date_1.id_for_label }}">VAT Submission Date 1:</label>
                            <input type="date" id="{{ business_profile_form.vat_submission_date_1.id_for_label }}" name="vat_submission_date_1" class="form-control">
                        </div>

                        <!-- VAT Submission Date 2 -->
                        {{ business_profile_form.vat_submission_date_2.errors }}
                        <div class="form-group">
                            <label for="{{ business_profile_form.vat_submission_date_2.id_for_label }}">VAT Submission Date 2:</label>
                            <input type="date" id="{{ business_profile_form.vat_submission_date_2.id_for_label }}" name="vat_submission_date_2" class="form-control">
                        </div>

                        <!-- VAT Submission Date 3 -->
                        {{ business_profile_form.vat_submission_date_3.errors }}
                        <div class="form-group">
                            <label for="{{ business_profile_form.vat_submission_date_3.id_for_label }}">VAT Submission Date 3:</label>
                            <input type="date" id="{{ business_profile_form.vat_submission_date_3.id_for_label }}" name="vat_submission_date_3" class="form-control">
                        </div>

                    </div>
                    <div class="col-md-6">
                         <!-- License Number -->
                         {{ business_profile_form.license_number.errors }}
                         <div class="form-group">
                             <label for="license_number">License Number:</label>
                             <input type="text" id="license_number" name="license_number" class="form-control" readonly>
                         </div>

                        <!-- License Expiration -->
                        {{ business_profile_form.license_expiration.errors }}
                        <div class="form-group">
                            <label for="{{ business_profile_form.license_expiration.id_for_label }}">License Expiration:</label>
                            <input type="date" id="{{ business_profile_form.license_expiration.id_for_label }}" name="license_expiration" class="form-control">
                        </div>
                       
                        <!-- Upload VAT Certificate (PDF only) -->
                        {{ business_profile_form.vat_certificate_upload.errors }}
                        <div class="form-group mt-3">
                            <label for="{{ business_profile_form.vat_certificate_upload.id_for_label }}" class="mt-2">Upload VAT Certificate :</label>
                            <input type="file" id="{{ business_profile_form.vat_certificate_upload.id_for_label }}" name="vat_certificate_upload" accept="image/jpg" class="form-control-file">
                        </div>
                       <!-- VAT Percentage -->
                       {{ business_profile_form.vat_percentage.errors }}
                       <div class="form-group">
                           <label for="{{ business_profile_form.vat_percentage.id_for_label }}">VAT Percentage:</label>
                           {{ business_profile_form.vat_percentage }}
                       </div>
                        <!-- License Expiration Reminder Days -->
                        {{ business_profile_form.license_expiration_reminder_days.errors }}
                        <div class="form-group mb-1">
                            <label class="mb-2" for="{{ business_profile_form.license_expiration_reminder_days.id_for_label }}">License Expiration Reminder Days:</label>
                            {{ business_profile_form.license_expiration_reminder_days }}
                        </div>
                        <!-- VAT Submission Date Reminder Days -->
                        {{ business_profile_form.vat_submission_date_reminder_days.errors }}
                        <div class="form-group mb-2">
                            <label class="mt-1" for="{{ business_profile_form.vat_submission_date_reminder_days.id_for_label }}">VAT Submission Date Reminder Days:</label>
                            {{ business_profile_form.vat_submission_date_reminder_days }}
                        </div>
                        <!-- Employee Visa Expiration Reminder Days -->
                        {{ business_profile_form.employee_visa_expiration_reminder_days.errors }}
                        <div class="form-group mt-1">
                            <label class="mb-2" for="{{ business_profile_form.employee_visa_expiration_reminder_days.id_for_label }}">Employee Visa Expiration Reminder Days:</label>
                            {{ business_profile_form.employee_visa_expiration_reminder_days }}
                        </div>
                        <!-- Add other additional fields for the main business profile here -->
                    </div>
                    <div class="col-md-12">
                         <!-- Address -->
                         {{ business_profile_form.address.errors }}
                         <div class="form-group">
                             <label for="{{ business_profile_form.address.id_for_label }}">Address:</label>
                             <textarea id="{{ business_profile_form.address.id_for_label }}" name="address" class="form-control" rows="6"></textarea>
                         </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<script>
    function updateLicenseNumber(select) {
        var selectedOption = select.options[select.selectedIndex];
        var licenseNumberInput = document.getElementById('license_number');
        var licenseNumber = selectedOption.label.split('-')[1];
        licenseNumberInput.value = licenseNumber;
    }
</script>
{% endblock %}
