{% extends 'base.html' %}

{% block title %}
    Create Product
{% endblock %}

{% block content %}
<div class="container">
    <form method="post">
    <div class="card mt-3">
        <div class="card-header">
            <h3 class="card-title mb-0">Create Product</h3>
        </div>
        <div class="card-body">
          
            <div class="row">
                <div class="col-md-6">
                   
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.name.label_tag }}
                            {{ form.name }}
                        </div>
                        <div class="mb-3">
                            {{ form.amount.label_tag }}
                            {{ form.amount }}
                        </div>
                        <div class="mb-3">
                            {{ form.max_discount_allowed.label_tag }}
                            {{ form.max_discount_allowed }}
                        </div>
                    </div>
                    <div class="col-md-6 d-inline-flex">
                        <input type="hidden" name="business_profile" value="{{ business_profile }}">
                        <div class="form-group">
                            {{ form.vat.label_tag }}
                            <input type="checkbox"  id="vat" name="vat" checked>
                        </div>
                        
                        <div class="">
                            {{ form.status.label_tag }}
                            {{ form.status }}
                        </div>
                    </div>
                    
                   
             
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
    </form>
</div>
{% endblock %}
