{% extends 'base.html' %}

{% block title %}Create Role{% endblock %}

{% block content %}

<div class="card">
  <div class="card-header "><h2 class="mb-0 text-white">Create Role</h2></div>
  <div class="card-body">
    
  
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Role Name:</label>
      <input type="text" id="name" name="name" class="form-control">
    </div>
    <div class="form-group">
      <label for="modules">Module List:</label>
      <select id="modules" name="modules" class="form-control text-capitalize " style="height:200px" multiple>
        {% for module in modules %}
            <option value="{{ module.name }}">{{ module.name }}</option>
        {% endfor %}
      </select>
    </div>
    <!-- Hidden input field for business_profile -->
    <input type="hidden" name="business_profile" value="{{ business_profile.id }}">
    
    <div class="form-check  d-flex justify-content-between align-items-center mb-3">
      <input type="checkbox" class="form-check-input" id="is_employee" name="is_employee" checked readonly>
      <label class="form-check-label" for="is_employee">Is Employee?</label>
    </div>
    <!-- Add other fields as necessary -->

    <button type="submit" class="btn btn-success">Create</button>
  </form>

</div>
<div class="card-footer">

  <a href="{% url 'role_list' %}" class="btn btn-warning ">Back to Role List</a>
</div>
</div>
 
{% endblock %}
