{% extends 'base.html' %}

{% block title %}Create Role{% endblock %}

{% block content %}
  <h2>Create Role</h2>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Role Name:</label>
      <input type="text" id="name" name="name" class="form-control">
    </div>
    <div class="form-group">
      <label for="module">Module List:</label>
      <select id="module" name="module" class="form-control text-capitalize " style="height:400px" multiple>
        {% for pattern in url_patterns %}
            <option value="{{ pattern }}">{{ pattern }}</option>
        {% endfor %}
    </select>
    </div>
    <!-- Add other fields as necessary -->

    <button type="submit" class="btn btn-success">Create</button>
  </form>
  <br/>
  <a href="{% url 'role_list' %}" class="btn btn-warning btn-sm">Back to Role List</a>
{% endblock %}
