<!-- daily_summary_list.html -->
{% extends 'base.html' %}

{% block title %}Daily Summary List{% endblock %}

{% block content %}
  <h2>Daily Summary List</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Opening Balance</th>
        <th scope="col">Total Received Amount</th>
        <th scope="col">Total Expense Amount</th>
        <th scope="col">Total Bank Deposit</th>
        <th scope="col">Balance</th>
        <th scope="col">Narration</th>
      </tr>
    </thead>
    <tbody>
      {% for summary in object_list %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ summary.date }}</td>
          <td>{{ summary.opening_balance }}</td>
          <td>{{ summary.total_received_amount }}</td>
          <td>{{ summary.total_expense_amount }}</td>
          <td>{{ summary.total_bank_deposit }}</td>
          <td>{{ summary.balance }}</td>
          <td>{{ summary.narration }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
