<!-- day_closing_admin.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Day Closing Admin{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title mb-0">Day Closing Admin</h3>
            {% if form.non_field_errors %}
                <ul>
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="card-body">
            <form method="POST" id="dayClosingForm">
                {% csrf_token %}
                <div class="row">
                <div class="col-md-6">
                <div class="mb-3">
                    <label for="date" class="form-label">Date</label>
                    <input type="date" name="date" id="date" class="form-control" value="{{ current_date }}" max="{{ current_date }}"  required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="employee" class="form-label">Employee</label>
                    <select name="employee" id="employee" class="form-control" required>
                        {% for employee in remaining_employees %}
                            <option value="{{ employee.id }}">{{ employee.first_name }} {{ employee.second_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
                <div class="mb-3">
                    <label for="id_total_services" class="form-label">Total Services</label>
                    <input type="number" name="total_services" id="id_total_services" class="form-control" readonly>
                </div>
                <div class="mb-3">
                    <label for="id_total_sales" class="form-label">Total Sales</label>
                    <input type="text" name="total_sales" id="id_total_sales" class="form-control" readonly>
                </div>
                <div class="mb-3">
                    <label for="id_total_collection" class="form-label">Total Collection</label>
                    <input type="text" name="total_collection" id="id_total_collection" class="form-control" readonly required>
                </div>
                <div class="mb-3">
                    <label for="id_advance" class="form-label">Advance</label>
                    <input type="text" name="advance" id="id_advance" class="form-control" readonly required>
                </div>
                <div class="mb-3">
                    <label for="id_net_collection" class="form-label">Net Collection</label>
                    <input type="text" name="net_collection" id="id_net_collection" class="form-control" readonly>
                </div>
                <div class="mb-3">
                    <!-- <label for="status" class="form-label">Status</label> -->
                    <input type="hidden" id="status" name="status" value="approved" class="form-control" readonly>
                </div>
                
                <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<script>
    // Get today's date
var today = new Date();
// var dd = today.getDate();
// var mm = today.getMonth() + 1; // January is 0!
// var yyyy = today.getFullYear();

// // Pad single-digit days and months with a leading zero
// if (dd < 10){
//     dd='0'+dd
// } 
// if (mm < 10){
//     mm='0'+mm
// } 

// // Construct the date string in the format yyyy-mm-dd
// today = yyyy + '-' + mm + '-' + dd;

// // Set the max attribute of the date input element to today's date
// document.getElementById("date").setAttribute("max", today);


    // Function to fetch data, remaining employees, and validate date when changed
    document.getElementById("date").addEventListener("change", function() {
        var selectedDate = this.value;
        var todayFormatted = today.toISOString().split('T')[0];
        var yesterday = new Date(today);
        yesterday.setDate(yesterday.getDate() - 1);
        var yesterdayFormatted = yesterday.toISOString().split('T')[0];
        
        if (this.value !== todayFormatted && this.value !== yesterdayFormatted) {
            alert("You can only select today's date or yesterday's date.");
            this.value = ""; // Clear the selected date

            // Reset all input fields
            document.getElementById("id_total_services").value = "";
            document.getElementById("id_total_sales").value = "";
            document.getElementById("id_total_collection").value = "";
            document.getElementById("id_advance").value = "";
            document.getElementById("id_net_collection").value = "";

            // Disable the submit button
            document.getElementById("submitBtn").disabled = true;

            // Set employee select to default message
            var employeeSelect = document.getElementById("employee");
            employeeSelect.innerHTML = "<option disabled selected>Day Closing for all employees is completed</option>";
        } else {
            // Fetch data for the selected date
            fetch('/fetch-data-admin/' + selectedDate + '/')
                .then(response => response.json())
                .then(data => {
                    document.getElementById("id_total_services").value = data.total_services;
                    document.getElementById("id_total_sales").value = data.total_sales;
                    document.getElementById("id_total_collection").value = data.total_collection;
                    document.getElementById("id_advance").value = data.advance;
                    var totalCollection = parseFloat(data.total_collection);
                    var advance = parseFloat(data.advance);
                    var netCollection = totalCollection - advance;
                    document.getElementById("id_net_collection").value = netCollection.toFixed(2);
                })
                .catch(error => console.error('Error:', error));

            // Fetch list of remaining employees for the selected date
            fetch('/fetch-remaining-employees/' + selectedDate + '/')
                .then(response => response.json())
                .then(data => {
                    var employeeSelect = document.getElementById("employee");

                    if (data.message) {
                        // If there is a message indicating that day closing is completed for all employees
                        employeeSelect.innerHTML = "<option disabled selected>Day Closing for all employees is completed</option>";
                        // Disable the submit button
                        document.getElementById("submitBtn").disabled = true;
                    } else {
                        // If there are remaining employees for day closing
                        employeeSelect.innerHTML = ""; // Clear existing options
                        data.remaining_employees.forEach(employee => {
                            var option = document.createElement("option");
                            option.value = employee.id;
                            option.text = employee.first_name + " " + employee.second_name;
                            employeeSelect.appendChild(option);
                        });
                        // Enable the submit button
                        document.getElementById("submitBtn").disabled = false;
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    });
</script>
{% endblock %}
