<!-- employee_transaction_list.html -->
{% extends 'base.html' %}

{% block title %}Employee Transaction List{% endblock %}

{% block content %}
  <h2>Employee Transaction List</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Transaction Type</th>
        <th scope="col">Service Transactions</th>
        <th scope="col">Product Transactions</th>
        <th scope="col">Tip Received</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Payment Option</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in object_list %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ transaction.get_transaction_type_display }}</td>
          <td>
            {% for service in transaction.service_transactions.all %}
              {{ service.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </td>
          <td>
            {% for product in transaction.product_transactions.all %}
              {{ product.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </td>
          <td>{{ transaction.tip_received }}</td>
          <td>{{ transaction.total_amount }}</td>
          <td>{{ transaction.get_payment_option_display }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
