{% extends 'emp_base.html' %}

{% block content %}
<style>
    .custom-graph{
        width:400px;
        height:100px;

    }
    @media screen and (max-width:767px) {
        .custom-graph{
        width:auto;
        height:300px;

    }
    }
</style>
<div class="container mt-2 mb-4">
    <!-- Analytics Section -->
    <div class="row">
        <!-- Employee Details Cards -->
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    Employee Details
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="mb-0"><strong>Employee Company ID:</strong> {{ employee.employee_id }}</p>
                            <p class="mb-0 text-capitalize"><strong>Employee Name:</strong> {{ employee.first_name }} {{ employee.second_name }}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="mb-0"><strong>Employee ID:</strong> {{ employee.id }}</p>
                            <p class="mb-0"><strong>Username:</strong> {{ employee.username }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Employee Details Cards -->

        <!-- Shop Details Cards -->
        <div class="col-md-6">
            {% if shop %}
                <div class="card mb-3">
                    <div class="card-header">
                        Shop Details
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="mb-0"><strong>Business Name:</strong> {{ shop.name }}</p>
                                <p class="mb-0"><strong>License Number:</strong> {{ shop.license_number }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="card mb-3">
                    <div class="card-header">
                        No Shop Associated
                    </div>
                    <div class="card-body">
                        <p>No shop associated with the current user.</p>
                    </div>
                </div>
            {% endif %}
        </div>
        <!-- End of Shop Details Cards -->
    </div>
    <!-- End of Analytics Section -->

    <!-- Analytics Section -->
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header">
                    Total Sales Amount
                </div>
                <div class="card-body">
                    <p>{{ total_sales_amount }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header">
                    Total Service Amount
                </div>
                <div class="card-body">
                    <p>{{ total_service_amount }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header">
                    Advance Amount Taken
                </div>
                <div class="card-body">
                    <p>{{ advance_taken }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Analytics Section -->

    <!-- Bar Chart Section -->
    <div class=" mt-2 mb-4">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0 text-white">Last 10 days Statistics</h4>
            </div>
        
        <div class="card-body">
            <canvas id="transactionChart" class="custom-graph"></canvas>
        </div>
    </div>
    </div>
    <div class="mb-5">
        <p> </p>
        <br/>
    </div>
    <!-- End of Bar Chart Section -->
</div>

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
<script>
     localStorage.setItem('employee_id', '{{ request.session.employee_id }}');
    // JavaScript code for rendering the bar chart using Chart.js
    var sales_by_item_service_data = JSON.parse('{{ sales_by_item_service_data_json|escapejs }}');
    var sales_by_item_data = JSON.parse('{{ sales_by_item_data_json|escapejs }}');
    var sales_by_service_data = JSON.parse('{{ sales_by_service_data_json|escapejs }}');
    var day_closings_data = JSON.parse('{{ day_closings_data_json|escapejs }}');

    var chart_labels = [];
    var sales_amount_data = [];
    var service_amount_data = [];
    var advance_amount_data = [];

    // Extracting data for chart
    sales_by_item_service_data.forEach(function(item) {
        chart_labels.push(item.date);
        sales_amount_data.push(item.total_amount);
    });

    sales_by_item_data.forEach(function(item) {
        service_amount_data.push(item.total_amount);
    });

    sales_by_service_data.forEach(function(item) {
        advance_amount_data.push(item.total_amount);
    });

    // Drawing the chart
    var ctx = document.getElementById('transactionChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: chart_labels,
            datasets: [{
                label: 'Total Sales Amount',
                data: sales_amount_data,
                backgroundColor: 'rgba(255, 99, 132, 0.1)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1,
                fontSize:'16px'
            }, {
                label: 'Total Service Amount',
                data: service_amount_data,
                backgroundColor: 'rgba(54, 162, 235, 0.1)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }, {
                label: 'Advance Amount Taken',
                data: advance_amount_data,
                backgroundColor: 'rgba(255, 206, 86, 0.1)',
                borderColor: 'rgba(255, 206, 86, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });


</script>
{% endblock %}
{% endblock %}
