{% extends 'base.html' %}

{% block title %}Employee List{% endblock %}

{% block content %}
  <h2>Employee List</h2>

  <!-- Search form -->
  <form method="get" action="{% url 'employee_list' %}">
    <div class="form-group">
      <input type="text" name="q" class="form-control" placeholder="Search by employee ID, name, etc.">
      <button type="submit" class="btn btn-primary mt-2">Search</button>
    </div>
  </form>
   <!-- Pagination links -->
   <div class="pagination  mb-3" style="float:right;">
    <span class="step-links">
      {% if employees.has_previous %}
          <a href="?page=1">&laquo; </a>
          <a href="?page={{ employees.previous_page_number }}"> &lsaquo; </a>
      {% endif %}

      <span class="current">
          Page {{ employees.number }} of {{ employees.paginator.num_pages }}
      </span>

      {% if employees.has_next %}
          <a href="?page={{ employees.next_page_number }}"> &rsaquo;</a>
          <a href="?page={{ employees.paginator.num_pages }}"> &raquo;</a>
      {% endif %}
    </span>
    
  </div>

  <table class="table table-striped table-responsive table-bordered">
    <thead>
      <tr>
        <th><a href="?sort=employee_id">Employee ID</a></th>
        <th><a href="?sort=first_name">First Name</a></th>
        <th><a href="?sort=second_name">Last Name</a></th>
        <th>Nationality</th>
        <th>Mobile No</th>
        <th>Passport No</th>
        <th>Passport Expiration Date</th>
        <th>Emirates ID</th>
        <th>ID Expiration Date</th>
        <th>Basic Pay</th>
        <th>House Allowance</th>
        <th>Transportation Allowance</th>
        <th>Commission Percentage</th>
        <th>Joining Date</th>
        <th>Job Role</th>
        <th>Username</th>
        <th>Actions</th>
        <!-- Add more columns as needed -->
      </tr>
    </thead>
    <tbody>
      {% for employee in employees %}
        <tr>
          <td>{{ employee.employee_id }}</td>
          <td>{{ employee.first_name }}</td>
          <td>{{ employee.second_name }}</td>
          <td>{{ employee.nationality }}</td>
          <td>{{ employee.mobile_no }}</td>
          <td>{{ employee.passport_no }}</td>
          <td>{{ employee.passport_expiration_date }}</td>
          <td>{{ employee.emirates_id }}</td>
          <td>{{ employee.id_expiration_date }}</td>
          <td>{{ employee.basic_pay }}</td>
          <td>{{ employee.house_allowance }}</td>
          <td>{{ employee.transportation_allowance }}</td>
          <td>{{ employee.commission_percentage }}</td>
          <td>{{ employee.joining_date }}</td>
          <td>{{ employee.job_role }}</td>
          <td>{{ employee.username }}</td>
           <td>
            <a href="{% url 'employee_edit' employee.pk %}" class="btn btn-primary btn-sm">Edit</a>
            <a href="{% url 'employee_delete' employee.pk %}" class="btn btn-danger btn-sm">Delete</a>
          </td>
          <!-- Add more columns as needed -->
        </tr>
      {% endfor %}
    </tbody>
  </table>
   <!-- Pagination links -->
   <div class="pagination mb-3"  style="float:right;">
    <span class="step-links">
      {% if employees.has_previous %}
          <a href="?page=1">&laquo; </a>
          <a href="?page={{ employees.previous_page_number }}"> &lsaquo; </a>
      {% endif %}

      <span class="current">
          Page {{ employees.number }} of {{ employees.paginator.num_pages }}
      </span>

      {% if employees.has_next %}
          <a href="?page={{ employees.next_page_number }}"> &rsaquo;</a>
          <a href="?page={{ employees.paginator.num_pages }}"> &raquo;</a>
      {% endif %}
    </span>
  </div>

{% endblock %}