{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <!-- Analytics Section -->
    <div class=" mb-3" >
        <div class="card bg-light  ">
            <div class="card-body mb-0">
    {% if shop %}
        <div class="col-md-6">
        <p class="mb-0">Shop Name: {{ shop.name }}</p>
        </div>
        <div class="col-md-6">
            <p class="mb-0">License Number: {{ shop.license_number }}</p>
        </div>
        
    {% else %}
        <p>No shop associated with the current user.</p>
    {% endif %}
</div>
        </div>
    </div>
    <div class="row mb-4 d-none">
        <div class="col-md-4">
            <div class="card bg-light">
                <div class="card-body text-center">
                    <h5 class="card-title">Number of Employees</h5>
                    <p class="card-text">{{ total_employees }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light">
                <div class="card-body text-center">
                    <h5 class="card-title">Number of Businesses</h5>
                    <p class="card-text">{{ total_business }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light">
                <div class="card-body text-center">
                    <h5 class="card-title">Number of Products</h5>
                    <p class="card-text">{{ num_products }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Analytics Section -->

    <!-- Categories Section -->
    <div class="row">
        {% for category in categories %}
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">{{ category.name }}</div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for link in category.links %}
                        <li class="list-group-item"><a href="{% url link.url_name %}">{{ link.label }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- End of Categories Section -->
</div>
{% endblock %}
