{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <!-- Analytics Section -->
    <div class="row mb-4">
        <div class="col-md-4">
            <div class="card bg-light">
                <div class="card-body text-center">
                    <h5 class="card-title">Total Employees</h5>
                    <p class="card-text">{{ total_employees }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light">
                <div class="card-body text-center">
                    <h5 class="card-title">Total Revenue</h5>
                    <p class="card-text">{{ total_revenue }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light">
                <div class="card-body text-center">
                    <h5 class="card-title">Day Closing Total Each Day</h5>
                    <p class="card-text">{{ dayclosing_value }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Analytics Section -->

    <!-- Categories Section -->
    <div class="row">
        {% for category in categories %}
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">{{ category.name }}</div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for link in category.links %}
                        <li class="list-group-item"><a href="{% url link.url_name %}">{{ link.label }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- End of Categories Section -->
</div>
{% endblock %}
