{% extends 'base.html' %}

{% block title %}
    Notifications
{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0 text-white">Notifications</h4>
        </div>
        <div class="card-body">
            {% if notifications %}
                <div class="list-group">
                    {% for notification in notifications %}
                        <div class="list-group-item">
                            <h5 class="mb-1">{{ notification.reminder_type }}</h5>
                          <div class="d-flex flex-wrap justify-content-between align-items-center">  <p class="mb-1">Expiration date: {{ notification.expiration_date }}</p>
                            <p class="mb-1">Expiring: {{ notification.reminder_days }} days left</p>
                            <p class="mb-0">Reminder: {{ notification.employee_visa_reminder_days }} days</p>
                            {% comment %} <p class="mb-0">Employee ID Expiration Reminder: {{ notification.employee_visa_reminder_days }} days</p> {% endcomment %}


                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-muted">No notifications available</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
