<!-- sales_report.html -->
{% extends 'base.html' %}

{% block title %}
    Sales Report
{% endblock %}

{% block content %}
    <h1>Sales Report - Sales By Staff Item Service</h1>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Employee ID</th>
                    <th>Product</th>
                    <th>Product Quantity</th>
                    <th>Product Price</th>
                    <th>Service</th>
                    <th>Service Quantity</th>
                    <th>Service Price</th>
                    <th>Sub Total</th>
                    <th>Discount</th>
                    <th>Total Amount</th>
                    <th>Payment Method</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in sales %}
                <tr>
                    <td>{{ sale.date }}</td>
                    <td>{{ sale.employee_id }}</td>
                    <td>{{ sale.product }}</td>
                    <td>{{ sale.pquantity }}</td>
                    <td>{{ sale.pprice }}</td>
                    <td>{{ sale.service }}</td>
                    <td>{{ sale.squantity }}</td>
                    <td>{{ sale.sprice }}</td>
                    <td>{{ sale.sub_total }}</td>
                    <td>{{ sale.discount }}</td>
                    <td>{{ sale.total_amount }}</td>
                    <td>{{ sale.payment_method }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
