{% extends 'base.html' %}

{% block title %}
    Sales Form
{% endblock %}

{% block content %}
<div class="container">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </ul>
    {% endif %}
    
<div class="card">
    <div class="card-header">
        <h4 class="mb-0 text-white">
            Sales by Admin - Products
        </h4>
    </div>
    <form method="post" action="#">
    <div class="card-body">
        
        
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="date">Date:</label>
                        <input type="date" id="date" name="date" class="form-control" readonly required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="employee">Employee:</label>
                        <select id="employee" name="employee" class="form-control" required>
                            <option value="" selected disabled>Select Employee</option>
                            {% for employee in employees %}
                                <option value="{{ employee.id }}">{{ employee.first_name }} {{ employee.second_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div><h5>Select Products</h5></div>
             
            {{ sale_item_formset.management_form }}

            <div class="table-responsive">
                <table class="table table-bordered" id="salesItems">
                    <thead>
                        <tr>
                            <th>Particular</th>
                            <th>Qty</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="itemRows">
                        <tr>
                            <td>
                                <select id="form-0-service" name="item" class="form-control" onchange="updatePrice(this)">
                                   <option>-- Select --</option>
                                    {% for product in products %}
                                        <option value="{{ product.id }}" data-amount="{{ product.amount }}" data-max-discount="{{ product.max_discount_allowed }}">{{ product.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <input type="number" id="form-0-quantity" name="quantity" class="form-control" value="1" onchange="calculateSubTotal(); calculateTotalAmount()">
                            </td>
                            <td>
                                <input type="number" id="form-0-price" name="price" class="form-control" readonly>
                            </td>
                            <td class="text-center"> <!-- Add Action cell -->
                                <button class="btn btn-danger" type="button" onclick="removeItemRow(this)" disabled><i class="fas fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <button type="button" onclick="addItem()" class="btn btn-primary">Add Product</button>
            </div>
            <div class="row">
            <div class="col-md-6">
            <div class="form-group">
                <label for="sub_total">Sub Total:</label>
                <input type="text" id="sub_total" name="sub_total" readonly class="form-control">
            </div>
            <div class="form-group">
                <label for="total_amount">Total Amount:</label>
                <input type="text" id="total_amount" name="total_amount" readonly class="form-control" required>
            </div>
            
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="discount">Discount: <small class="text-danger">(Max Discount Allowed: <span  id="max_discount">0</span>)</small></label>
                <input type="hidden" id="max_discount_allowed">
                <input type="number" id="discount" name="discount" value="0" class="form-control" onchange="calculateTotalAmount()" placeholder="Enter the Discount Amount or Enter Zero" required>
            </div>

            <div class="form-group">
                <label for="payment_method">Payment Method:</label>
                <select id="payment_method" name="payment_method" class="form-control">
                    <option value="cash">Cash</option>
                    <option value="card">Card</option>
                </select>
            </div>
        </div>
    </div>
            

            <!-- Display form errors -->
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    <strong>Error!</strong> Please correct the following errors:
                    <ul>
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>{{ field|title }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        
    </div>
    <div class="card-footer">
        <div class="form-group mb-0">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
</form>
</div>
</div>
<script>
    var currentDate = new Date();
    // Format the current date as YYYY-MM-DD
    var formattedDate = currentDate.toISOString().split('T')[0];
    document.getElementById("date").value = formattedDate;
    var rowCounter = 1;

    function updatePrice(select) {
        var selectedOption = select.options[select.selectedIndex];
        var priceInput = select.parentElement.nextElementSibling.nextElementSibling.querySelector('input');
        var price = selectedOption.getAttribute('data-amount');
        priceInput.value = price;
        calculateSubTotal();
        calculateTotalAmount();
    }

    function calculateSubTotal() {
    var table = document.getElementById("salesItems").getElementsByTagName("tbody")[0];
    var subTotal = 0;
    var subTotalMaxDiscount = 0;
    for (var i = 0; i < table.rows.length; i++) {
        var quantity = parseFloat(table.rows[i].cells[1].getElementsByTagName("input")[0].value);
        var price = parseFloat(table.rows[i].cells[2].getElementsByTagName("input")[0].value);
        var total = quantity * price;
        subTotal += isNaN(total) ? 0 : total;

        // Update maxDiscountAllowed for each row
        var maxDiscountAllowed = parseFloat(table.rows[i].cells[0].getElementsByTagName("select")[0].selectedOptions[0].getAttribute('data-max-discount')) * quantity;
      //  console.log(parseFloat(table.rows[i].cells[0].getElementsByTagName("select")[0].selectedOptions[0].getAttribute('data-max-discount')));
        subTotalMaxDiscount += isNaN(maxDiscountAllowed) ? 0 : maxDiscountAllowed;
    }

    document.getElementById("sub_total").value = subTotal.toFixed(2);
    document.getElementById("max_discount").innerText = subTotalMaxDiscount.toFixed(2);
}


function calculateTotalAmount() {
    var subTotal = parseFloat(document.getElementById("sub_total").value);
    var discount = parseFloat(document.getElementById("discount").value);
    var maxDiscountAllowed = parseFloat(document.getElementById("max_discount").innerHTML);
    var totalAmount = subTotal - (isNaN(discount) ? 0 : discount);
    
    // Check if discount exceeds max_discount_allowed
    if (discount > maxDiscountAllowed) {
        alert("Discount exceeds maximum allowed limit. Max Discount allowed is :  " + maxDiscountAllowed);
        document.getElementById("discount").value = maxDiscountAllowed;
        totalAmount = subTotal - maxDiscountAllowed;
    }
    
    // Update the total amount
    document.getElementById("total_amount").value = totalAmount.toFixed(2);
}

    function addItem() {
        var table = document.getElementById("itemRows");
        var newRow = table.insertRow(table.rows.length);
        var cell1 = newRow.insertCell(0);
        var cell2 = newRow.insertCell(1);
        var cell3 = newRow.insertCell(2);
        var cell4 = newRow.insertCell(3);

        cell1.innerHTML = `
            <select id="form-${rowCounter}-service" name="item" class="form-control" onchange="updatePrice (this)">
                <option>-- Select --</option>
                {% for product in products %}
                    <option value="{{ product.id }}" data-amount="{{ product.amount }}" data-max-discount="{{ product.max_discount_allowed }}">{{ product.name }}</option>
                {% endfor %}
            </select>
        `;
        cell2.innerHTML = `<input type="number" id="form-${rowCounter}-quantity" name="quantity" class="form-control" value="1" onchange="calculateSubTotal(); calculateTotalAmount()">`;
        cell3.innerHTML = `<input type="number" id="form-${rowCounter}-price" name="price" class="form-control" readonly>`;
        cell4.innerHTML = `<button class="btn btn-danger" type="button" onclick="removeItemRow(this); calculateTotalAmount()"><i class="fas fa-trash"></i></button>`; // Add delete button
                
        rowCounter++;
    }
    function removeItemRow(button) {
        var row = button.closest('tr');
        row.parentNode.removeChild(row);
        calculateSubTotal(); // Recalculate subtotal after removing row
    }
    document.getElementById('discount').addEventListener('change', function() {
        var discountInput = document.getElementById('discount').value;
        if (discountInput.trim() === '') {
            alert('Discount cannot be empty. Please enter a valid discount amount or zero.');
        }
    });
</script>

{% endblock %}

