{% extends 'emp_base.html' %}

{% block title %}
    Sales Form
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h2>Sales by Staff - Products & Services</h2>
        {% if sales_form.non_field_errors %}
            <ul>
            {% for error in sales_form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        {% for field in sales_form %}
            {% if field.errors %}
                <ul>
                {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
        <form id="salesForm" method="post" action="#">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group d-inline-flex justify-content-between align-items-center gap-3">
                        <label for="date" class="mr-2">Date:</label>
                        <input type="date" id="date" name="date" class="form-control" readonly required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex justify-content-between align-items-center">
                        <label for="employee" class="mr-2">Employee:</label>
                        <input type="text" id="employee" name="employee" class="form-control" value="{{ request.session.employee_id }}" readonly >
                    </div>
                </div>
            </div>

            <div><h5>Select Items</h5></div>
            {{ sale_item_formset.management_form }}
            <div class="table-responsive">
                <table class="table table-bordered" id="salesItems">
                    <thead>
                        <tr>
                            <th>Particular</th>
                            <th>Qty</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="itemRows">
                        <tr>
                            <td>
                                <select id="form-0-product" name="product" class="form-control" onchange="updatePrice(this)">
                                    <option value="">-- Select --</option>
                                    {% for product in products %}
                                        <option value="{{ product.id }}" data-amount="{{ product.amount }}">{{ product.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <input type="number" id="form-0-pquantity" name="pquantity" class="form-control" min="1" onchange="calculateTotalSubtotal()">
                            </td>
                            <td>
                                <input type="number" id="form-0-pprice" name="pprice" class="form-control" readonly>
                            </td>
                            <td class=" text-center">
                                <div class="mt-2 justify-content-center align-items-center"  id="form-0-delete">
                                    <button class="btn btn-danger" type="button" onclick="removeRow(this, 'itemRows')"><i class="fas fa-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <button type="button" onclick="addItem()" class="btn btn-primary">Add Item</button>
            </div>

            <div><h5>Select Service</h5></div>
            <div class="table-responsive">
                <table class="table table-bordered" id="salesService">
                    <thead>
                        <tr>
                            <th>Particular</th>
                            <th>Qty</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="serviceRows">
                        <tr>
                            <td>
                                <select id="form-0-service" class="form-control" name="service" onchange="updatePrice1(this)">
                                    <option value="">-- Select --</option>   
                                    {% for service in services %}
                                        <option value="{{ service.id }}" data-amount="{{ service.amount }}">{{ service.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <input type="number" id="form-0-squantity" name="squantity" class="form-control" min="1" onchange="calculateTotalSubtotal1()">
                            </td>
                            <td>
                                <input type="number" id="form-0-sprice" name="sprice" class="form-control" readonly>
                            </td>
                            <td class=" text-center">
                                <div class="mt-2 justify-content-center align-items-center"  id="form-0-delete">
                                    <button class="btn btn-danger" type="button" onclick="removeRow(this, 'serviceRows')"><i class="fas fa-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <button type="button" onclick="addService()" class="btn btn-primary">Add Service</button>
            </div>
            <div class="form-group">
                <label for="itemTotal" >Item Total:</label>
                <input type="text" id="itemtotal" name="itemtotal" readonly class="form-control">
            </div>
            
            <div class="form-group">
                <label for="serviceTotal" >Service Total:</label>
                <input type="text" id="servicetotal" name="servicetotal" readonly class="form-control">
            </div>
            <div class="form-group">
                <label for="sub_total">Sub Total:</label>
                <input type="text" id="sub_total" name="sub_total" readonly class="form-control">
            </div>

            <div class="form-group">
                <label for="discount">Discount:</label>
                <input type="number" id="discount" name="discount" value="0" class="form-control" onchange="calculateTotalAmount()">
            </div>

            <div class="form-group">
                <label for="total_amount">Total Amount:</label>
                <input type="text" id="total_amount" name="total_amount" readonly class="form-control">
            </div>

            <div class="form-group">
                <label for="payment_method">Payment Method:</label>
                <select id="payment_method" name="payment_method" class="form-control">
                    <option value="cash">Cash</option>
                    <option value="card">Card</option>
                </select>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>
<script>
    // Function to update price for items
    function updatePrice(select) {
        var selectedOption = select.options[select.selectedIndex];
        var priceInput = select.parentElement.nextElementSibling.nextElementSibling.querySelector('input');
        var price = selectedOption.getAttribute('data-amount');
        priceInput.value = price;
        calculateTotalSubtotal();
    }

    // Function to update price for services
    function updatePrice1(select) {
        var selectedOption = select.options[select.selectedIndex];
        var priceInput = select.parentElement.nextElementSibling.nextElementSibling.querySelector('input');
        var sprice = selectedOption.getAttribute('data-amount');
        priceInput.value = sprice;
        calculateTotalSubtotal1();
    }

    // Function to add a new item row
    function addItem() {
        var table = document.getElementById("itemRows");
        var newRow = table.insertRow(table.rows.length);
        var cell1 = newRow.insertCell(0);
        var cell2 = newRow.insertCell(1);
        var cell3 = newRow.insertCell(2);
        var cell4 = newRow.insertCell(3);

        cell1.innerHTML = `
            <select id="form-${rowCounter}-product" name="product" class="form-control" onchange="updatePrice(this)">
                <option value="">-- Select --</option>
                {% for product in products %}
                    <option value="{{ product.id }}" data-amount="{{ product.amount }}">{{ product.name }}</option>
                {% endfor %}
            </select>
        `;
        cell2.innerHTML = `<input type="number" id="form-${rowCounter}-pquantity" name="pquantity" class="form-control" min="1" onchange="calculateTotalSubtotal()">`;
        cell3.innerHTML = `<input type="number" id="form-${rowCounter}-pprice" name="pprice" class="form-control" readonly>`;
        cell4.innerHTML = `<div class="mt-2 justify-content-center align-items-center"  id="form-${rowCounter}-delete"><button class="btn btn-danger" type="button" onclick="removeRow(this, 'itemRows')"><i class="fas fa-trash"></i></button>`;

        rowCounter++;
    }

    // Function to add a new service row
    function addService() {
        var table = document.getElementById("serviceRows");
        var newRow = table.insertRow(table.rows.length);
        var cell1 = newRow.insertCell(0);
        var cell2 = newRow.insertCell(1);
        var cell3 = newRow.insertCell(2);
        var cell4 = newRow.insertCell(3);

        cell1.innerHTML = `
            <select id="form-${rowCounter}-service" name="service" class="form-control" onchange="updatePrice1(this)">
                <option value="">-- Select --</option>
                {% for service in services %}
                    <option value="{{ service.id }}" data-amount="{{ service.amount }}">{{ service.name }}</option>
                {% endfor %}
            </select>
        `;
        cell2.innerHTML = `<input type="number" id="form-${rowCounter}-squantity" name="squantity" class="form-control" min="1" onchange="calculateTotalSubtotal1()">`;
        cell3.innerHTML = `<input type="number" id="form-${rowCounter}-sprice" name="sprice" class="form-control" readonly>`;
        cell4.innerHTML = `<div class="mt-2 justify-content-center align-items-center"  id="form-${rowCounter}-delete"><button class="btn btn-danger" type="button" onclick="removeRow(this, 'serviceRows')"><i class="fas fa-trash"></i></button>`;

        rowCounter++;
    }

    // Function to remove a row
    function removeRow(button, tableId) {
        var row = button.closest('tr');
        row.parentNode.removeChild(row);
        if (tableId === 'itemRows') {
            calculateTotalSubtotal();
        } else if (tableId === 'serviceRows') {
            calculateTotalSubtotal1();
        }
    }

    // Function to calculate subtotal for items
    function calculateTotalSubtotal() {
        var itemSubtotal = calculateSubTotal("itemRows");
        document.getElementById("itemtotal").value = itemSubtotal.toFixed(2);
        calculateTotalAmount();
    }

    // Function to calculate subtotal for services
    function calculateTotalSubtotal1() {
        var serviceSubtotal = calculateSubTotal("serviceRows");
        document.getElementById("servicetotal").value = serviceSubtotal.toFixed(2);
        calculateTotalAmount();
    }

    // Function to calculate subtotal
    function calculateSubTotal(type) {
        var table = document.getElementById(type);
        if (!table) return 0; // Return 0 if table is undefined

        var subtotal = 0;

        // Calculate subtotal for the table
        for (var i = 0; i < table.rows.length; i++) {
            var quantity = parseFloat(table.rows[i].cells[1].querySelector('input').value);
            var price = parseFloat(table.rows[i].cells[2].querySelector('input').value);
            var total = quantity * price;
            subtotal += isNaN(total) ? 0 : total;
        }

        return subtotal;
    }

    // Function to calculate total amount
    function calculateTotalAmount() {
        var itemSubtotal = parseFloat(document.getElementById("itemtotal").value);
        var serviceSubtotal = parseFloat(document.getElementById("servicetotal").value);
        var subtotal = itemSubtotal + serviceSubtotal;
        var discount = parseFloat(document.getElementById("discount").value);
        var totalAmount = subtotal - (isNaN(discount) ? 0 : discount);

        document.getElementById("sub_total").value = subtotal.toFixed(2);
        document.getElementById("total_amount").value = totalAmount.toFixed(2);
    }

    // Add event listener to form submission
    document.querySelector('#salesForm').addEventListener('submit', function() {
        var totalQuantity = 0;
        var rows = document.querySelectorAll('#itemRows tr, #serviceRows tr');
        
        rows.forEach(function(row) {
            var quantity = parseFloat(row.querySelector('input[name$="quantity"]').value);
            totalQuantity += isNaN(quantity) ? 0 : quantity;
        });

        // Create a hidden input field to store total quantity
        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'total_quantity';
        input.value = totalQuantity;

        // Append the hidden input to the form
        document.querySelector('#salesForm').appendChild(input);
    });

    // Set the current date in the date input field
    var currentDate = new Date();
    var formattedDate = currentDate.toISOString().split('T')[0];
    document.getElementById("date").value = formattedDate;

    // Store employee_id in local session storage
    localStorage.setItem('employee_id', '{{ request.session.employee_id }}');
    var employeeId = localStorage.getItem('employee_id');
    document.getElementById('employee').value = employeeId;

    // Counter for row IDs
    var rowCounter = 1;
</script>

{% endblock %}