{% extends 'base.html' %}

{% block title %}Service List{% endblock %}

{% block content %}
<div class="container">
  <div class="card">
    <div class="card-header">
      <h4 class="mb-0 text-white">Service List</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
      <table class="table table-bordered table-striped nowrap" id="servicelist">
        <thead>
          <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col">Name</th>
            <th scope="col">Duration (in Mins)</th>
            <th scope="col">VAT</th>
            <th scope="col">Amount</th>
            <th scope="col">Max Discount Allowed</th>
            <th scope="col">Status</th>
            <th scope="col">Created On</th>
          </tr>
        </thead>
        <tbody>
          {% for service in object_list %}
            <tr>
              <!-- <th scope="row">{{ forloop.counter }}</th> -->
              <td>{{ service.name }}</td>
              <td>{{ service.duration }}</td>
              <td>{% if service.vat %}Yes{% else %}No{% endif %}</td>
              <td>{{ service.amount|floatformat:2 }}</td>
              <td>{{ service.max_discount_allowed|floatformat:2 }}</td>
              <td>{% if service.status %}Active{% else %}Inactive{% endif %}</td>
              <td>{{ service.created_on|date:"D, d M Y H:i:s" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
<script>
  new DataTable('#servicelist', {
            responsive: true,
            dom: 'lBfrtip',
            
            buttons: [
                {
                    text: 'Print',
                    extend: 'print',
                    exportOptions: {
                        stripHtml: false,
                        columns: [0, 1, 2, 3, 4]
                    }
                },
                {
                    text: 'Export PDF',
                    extend: 'pdf',
                    
                    exportOptions: {
                        stripHtml: true,
                       
                    },
          
                }
            ],
            
        });

 </script>
{% endblock %}
