<!-- service_list.html -->
{% extends 'base.html' %}

{% block title %}Service List{% endblock %}

{% block content %}
  <h2>Service List</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Duration</th>
        <th scope="col">VAT</th>
        <th scope="col">Amount</th>
        <th scope="col">Max Discount Allowed</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for service in object_list %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ service.name }}</td>
          <td>{{ service.duration }}</td>
          <td>{{ service.vat }}</td>
          <td>{{ service.amount }}</td>
          <td>{{ service.max_discount_allowed }}</td>
          <td>{{ service.status }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
