 <ul id="font-c" style="max-height: 400px; overflow-y: scroll;">
        <li><a href="/home/"><i class="fas fa-home"></i> Home</a></li>
        
        {% if user.is_superuser %}
        <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" id="shopDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-store"></i> Shop</a>
            <div class="dropdown-menu" aria-labelledby="shopDropdown">
                <a class="dropdown-item" href="/shop/"><i class="fas fa-list"></i> Shop List</a>
                <a class="dropdown-item" href="/shop/create/"><i class="fas fa-plus"></i> Create Shop</a>
            </div>
        </li> -->
        {% endif %}
        
        {% if user.is_superuser or user.is_admin %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" id="businessProfileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-building"></i> Business Profile</a>
            <div class="dropdown-menu" aria-labelledby="businessProfileDropdown">
                <a class="dropdown-item" href="/create-business-profile/"><i class="fas fa-plus"></i> Create Business Profile</a>
                <a class="dropdown-item" href="/business/"><i class="fas fa-list"></i> Business Profile List</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" id="employeeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-users"></i> Employee</a>
            <div class="dropdown-menu" aria-labelledby="employeeDropdown">
                <a class="dropdown-item" href="/employee/"><i class="fas fa-list"></i> Employee List</a>
                <a class="dropdown-item" href="/employee/create/"><i class="fas fa-plus"></i> Create Employee</a>
            </div>
        </li>
        {% endif %}
        
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" id="saleDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-money-bill-alt"></i> Sales</a>
            <div class="dropdown-menu" aria-labelledby="saleDropdown">
                
                <a class="dropdown-item" href="/sale/sales-by-staff-item-service/"><i class="fas fa-chart-line"></i> Sales by Staff <br/>- Products & Services</a>
                <a class="dropdown-item" href="/sale/salesbystaff/"><i class="fas fa-chart-line"></i> Sales by Staff <br/>- Service</a>
                
                <a class="dropdown-item" href="/sale/sales-by-admin-service"><i class="fas fa-chart-line"></i> Sales by Admin<br/>- Service</a>
                <a class="dropdown-item" href="/sale/sales-report/"><i class="fas fa-chart-bar"></i> Sales Report</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" id="saleDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-money-bill-alt"></i> Day Closing</a>
            <div class="dropdown-menu" aria-labelledby="saleDropdown">
                
                
                <a class="dropdown-item" href="/sale/dayclosing/admin"><i class="fas fa-calendar-check"></i> Day Closing Admin</a>
                <a class="dropdown-item" href="/sale/dayclosing/"><i class="fas fa-calendar-check"></i> Day Closing</a>
                <a class="dropdown-item" href="/sale/day-closing-report/"><i class="fas fa-file-alt"></i> Day Closing Report</a>
                
            </div>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" id="roleDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-tag"></i> Role</a>
            <div class="dropdown-menu" aria-labelledby="roleDropdown">
                <a class="dropdown-item" href="/role/"><i class="fas fa-list"></i> Role List</a>
                <a class="dropdown-item" href="/role/create/"><i class="fas fa-plus"></i> Create Role</a>
            </div>
        </li>
       
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" id="expenseTypeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-money-check-alt"></i> Expense Type</a>
            <div class="dropdown-menu" aria-labelledby="expenseTypeDropdown">
                <a class="dropdown-item" href="/expense-type/"><i class="fas fa-list"></i> Expense Type List</a>
                <a class="dropdown-item" href="/expense-type/create/"><i class="fas fa-plus"></i> Create Expense Type</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" id="receiptTransactionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-receipt"></i> Receipt Transaction</a>
            <div class="dropdown-menu" aria-labelledby="receiptTransactionDropdown">
                <a class="dropdown-item" href="/receipt-type/create/"><i class="fas fa-plus"></i> Create Receipt Type</a>
                <a class="dropdown-item" href="/receipt-transaction/"><i class="fas fa-list"></i> Receipt Transaction List</a>
                <a class="dropdown-item" href="/receipt-transaction/create/"><i class="fas fa-plus"></i> Create Receipt Transaction</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" id="paymentTransactionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-money-check"></i> Payment Transaction</a>
            <div class="dropdown-menu" aria-labelledby="paymentTransactionDropdown">
                <a class="dropdown-item" href="/payment-transaction/"><i class="fas fa-list"></i> Payment Transaction List</a>
                <a class="dropdown-item" href="/payment-transaction/create/"><i class="fas fa-plus"></i> Create Payment Transaction</a>
            </div>
        </li>
       
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" id="serviceDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-handshake"></i> Service</a>
            <div class="dropdown-menu" aria-labelledby="serviceDropdown">
                <a class="dropdown-item" href="/service/"><i class="fas fa-list"></i> Service List</a>
                <a class="dropdown-item" href="/service/create/"><i class="fas fa-plus"></i> Create Service</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" id="productDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-box"></i> Product</a>
            <div class="dropdown-menu" aria-labelledby="productDropdown">
                <a class="dropdown-item" href="/product/"><i class="fas fa-list"></i> Product List</a>
                <a class="dropdown-item" href="/product/create/"><i class="fas fa-plus"></i> Create Product</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" id="employeeTransactionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-exchange-alt"></i> Employee Transaction</a>
            <div class="dropdown-menu" aria-labelledby="employeeTransactionDropdown">
                <a class="dropdown-item" href="/employee-transaction/"><i class="fas fa-list"></i> Employee Transaction List</a>
                <a class="dropdown-item" href="/employee-transaction/create/"><i class="fas fa-plus"></i> Create Employee<br/>Transaction</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" id="dailySummaryDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-clipboard-list"></i> Daily Summary</a>
            <div class="dropdown-menu" aria-labelledby="dailySummaryDropdown">
                <a class="dropdown-item" href="/daily-summary/"><i class="fas fa-list"></i> Daily Summary List</a>
                <a class="dropdown-item" href="/daily-summary/create/"><i class="fas fa-plus"></i> Create Daily Summary</a>
            </div>
        </li>
        
        {% if user.is_superuser or user.is_admin %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" id="bankDepositDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-piggy-bank"></i> Bank Deposit</a>
            <div class="dropdown-menu" aria-labelledby="bankDepositDropdown">
                <a class="dropdown-item" href="/bank/create/"><i class="fas fa-plus"></i> Create Bank</a>
                <a class="dropdown-item" href="/banks/"><i class="fas fa-list"></i> Bank List</a>
                <a class="dropdown-item" href="/bank-deposit/"><i class="fas fa-list"></i> Bank Deposit List</a>
                <a class="dropdown-item" href="/bank-deposit/create/"><i class="fas fa-plus"></i> Create Bank Deposit</a>
            </div>
        </li>
        {% endif %}
        
    </ul>
