<ul class="navbar-nav ml-auto pl-3">
    <li class="d-n"><a href="/home/">Home</a></li>
    

<li class="dropdown d-n">
    <a href="#" class="dropdown-toggle" id="shopDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
    <div class="dropdown-menu" aria-labelledby="shopDropdown">
        <a class="dropdown-item" href="/shop/">Shop List</a>
        <a class="dropdown-item" href="/shop/create/">Create Shop</a>
      
    </div>
</li>
<li class="dropdown d-n">
    <a href="#" class="dropdown-toggle" id="businessProfileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Business Profile</a>
    <div class="dropdown-menu" aria-labelledby="businessProfileDropdown">
        <a class="dropdown-item" href="/create-business-profile/">Create Business Profile</a>
        <a class="dropdown-item" href="/business/">Business Profile List</a>
    </div>
</li>

<li class="dropdown d-n">
    <a href="#" class="dropdown-toggle" id="saleDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sale & Day Closing</a>
    <div class="dropdown-menu" aria-labelledby="saleDropdown">
        
        <a class="dropdown-item" href="/sale/salesbystaff/">Sales by Staff<br/>Products & Services</a>
        
        
        <a class="dropdown-item" href="/sale/sales-by-staff-item-service/">Sales by Staff<br/>Item Service</a>
        <a class="dropdown-item" href="/sale/sales-by-admin-service">Sales by Admin Service</a>
        <a class="dropdown-item" href="/sale/dayclosing/">Day Closing</a>
        <a class="dropdown-item" href="/sale/day-closing-report/">Day Closing Report</a>
        <a class="dropdown-item" href="/sale/sales-report/">Sales Report</a>
    </div>
</li>
<li class="dropdown d-n">
    <a href="#" class="dropdown-toggle" id="roleDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Role</a>
    <div class="dropdown-menu" aria-labelledby="roleDropdown">
        <a class="dropdown-item" href="/role/">Role List</a>
        <a class="dropdown-item" href="/role/create/">Create Role</a>
    
    </div>
</li>
<li class="dropdown d-n">
    <a href="#" class="dropdown-toggle" id="employeeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Employee</a>
    <div class="dropdown-menu" aria-labelledby="employeeDropdown">
        <a class="dropdown-item" href="/employee/">Employee List</a>
        <a class="dropdown-item" href="/employee/create/">Create Employee</a>
      
    </div>
</li>
<li class="dropdown d-n">
    <a href="#" class="dropdown-toggle" id="expenseTypeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Expense Type</a>
    <div class="dropdown-menu" aria-labelledby="expenseTypeDropdown">
        <a class="dropdown-item" href="/expense-type/">Expense Type List</a>
        <a class="dropdown-item" href="/expense-type/create/">Create Expense Type</a>
    
    </div>
</li>
<li class="dropdown d-n">
    <a href="#" class="dropdown-toggle" id="receiptTransactionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Receipt Transaction</a>
    <div class="dropdown-menu" aria-labelledby="receiptTransactionDropdown">
        <a class="dropdown-item" href="/receipt-transaction/">Receipt Transaction List</a>
        <a class="dropdown-item" href="/receipt-transaction/create/">Create Receipt Transaction</a>
       
    </div>
</li>
<li class="dropdown d-n">
    <a href="#" class="dropdown-toggle" id="paymentTransactionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Payment Transaction</a>
    <div class="dropdown-menu" aria-labelledby="paymentTransactionDropdown">
        <a class="dropdown-item" href="/payment-transaction/">Payment Transaction List</a>
        <a class="dropdown-item" href="/payment-transaction/create/">Create Payment Transaction</a>
       
    </div>
</li>
<li class="dropdown d-n">
    <a href="#" class="dropdown-toggle" id="bankDepositDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bank Deposit</a>
    <div class="dropdown-menu" aria-labelledby="bankDepositDropdown">
        <a class="dropdown-item" href="/bank-deposit/">Bank Deposit List</a>
        <a class="dropdown-item" href="/bank-deposit/create/">Create Bank Deposit</a>
       
    </div>
</li>
<li class="dropdown d-n">
    <a href="#" class="dropdown-toggle" id="serviceDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Service</a>
    <div class="dropdown-menu" aria-labelledby="serviceDropdown">
        <a class="dropdown-item" href="/service/">Service List</a>
        <a class="dropdown-item" href="/service/create/">Create Service</a>
       
    </div>
</li>
<li class="dropdown d-n">
    <a href="#" class="dropdown-toggle" id="productDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Product</a>
    <div class="dropdown-menu" aria-labelledby="productDropdown">
        <a class="dropdown-item" href="/product/">Product List</a>
        <a class="dropdown-item" href="/product/create/">Create Product</a>
        
    </div>
</li>
<li class="dropdown d-n">
    <a href="#" class="dropdown-toggle" id="employeeTransactionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Employee Transaction</a>
    <div class="dropdown-menu" aria-labelledby="employeeTransactionDropdown">
        <a class="dropdown-item" href="/employee-transaction/">Employee Transaction List</a>
        <a class="dropdown-item" href="/employee-transaction/create/">Create Employee Transaction</a>
        
    </div>
</li>
<li class="dropdown d-n">
    <a href="#" class="dropdown-toggle" id="dailySummaryDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Daily Summary</a>
    <div class="dropdown-menu" aria-labelledby="dailySummaryDropdown">
        <a class="dropdown-item" href="/daily-summary/">Daily Summary List</a>
        <a class="dropdown-item" href="/daily-summary/create/">Create Daily Summary</a>
       
    </div>
</li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>
</ul>