<!-- update_role.html -->
{% extends 'base.html' %}

{% block title %}Update Role{% endblock %}

{% block content %}
  <h2>Update Role</h2>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Role Name:</label>
      <input type="text" id="name" name="name" class="form-control" value="{{ role.name }}">
    </div>
    <div class="form-group">
      <label for="modules">Module List:</label>
      <select id="modules" name="modules" class="form-control text-capitalize" style="height:400px" multiple>
        {% for module in modules %}
          <option value="{{ module.name }}" {% if module in role.modules.all %}selected{% endif %}>{{ module.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="is_employee" name="is_employee" {% if is_employee %}checked{% endif %}>
      <label class="form-check-label" for="is_employee" >Employee</label>
    </div>
    <button type="submit" class="btn btn-success btn-sm">Update</button>
  </form>
  <a href="{% url 'role_list' %}" class="btn btn-secondary btn-sm">Back to Role List</a>
{% endblock %}
