{% extends 'base.html' %}

{% block title %}Update Receipt Type{% endblock %}

{% block content %}
<div class="container">
  <div class="card">
    <div class="card-header">
      <h4 class="mb-0">Update Receipt Type</h4>
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
          <label for="id_name">Name:</label>
          <input type="text" name="name" id="id_name" class="form-control" value="{{ form.name.value }}">
        </div>

        <div class="form-group">
          <input type="hidden" name="business_profile" id="id_business_profile" class="form-control" value="{{ form.business_profile.value }}" readonly>
        </div>       

        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
